################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Financial.Report/Financial.Infra/obj
/Financial.Report/Financial.Infra/bin
/Financial.Report/Financial.Common/obj
/Financial.Report/Financial.Common/bin
/Financial.Report/Financial.Domain/obj
/Financial.Report/Financial.Domain/bin
/Financial.Report/Financial.InfraWebApi/bin
/Financial.Report/Financial.WebApi/obj
/Financial.Report/Financial.WebApi/bin
/Financial.Report/Financial.Service/obj
/Financial.Report/Financial.Service/bin
/Financial.Report/.vs

/Financial.Report/.vs/Financial.Report/CopilotIndices/17.14.536.4876/CodeChunks.db
/Financial.Report/.vs/Financial.Report/CopilotIndices/17.14.536.4876/SemanticSymbols.db
/Financial.Report/.vs/Financial.Report/DesignTimeBuild/.dtbcache.v2
/Financial.Report/.vs/Financial.Report/v17/.suo
/Financial.Report/.vs/Financial.Report/v17/DocumentLayout.backup.json
/Financial.Report/.vs/Financial.Report/v17/DocumentLayout.json
/Financial.Report/.vs/Financial.Report/CopilotIndices/17.14.536.4876/CodeChunks.db
/Financial.Report/.vs/Financial.Report/CopilotIndices/17.14.536.4876/SemanticSymbols.db
/Financial.Report/.vs/Financial.Report/CopilotIndices/17.14.536.4876/CodeChunks.db
/Financial.Report/.vs/Financial.Report/v17/.suo
/Financial.Report/.vs/Financial.Report/v17/DocumentLayout.backup.json
/Financial.Report/.vs/Financial.Report/v17/DocumentLayout.json
/Financial.Report/.vs/Financial.Report/CopilotIndices/17.14.536.4876/CodeChunks.db
/Financial.Report/.vs/Financial.Report/CopilotIndices/17.14.536.4876/SemanticSymbols.db
/Financial.Report/.vs/Financial.Report/DesignTimeBuild/.dtbcache.v2
